.icon {
    fill: currentColor;
    transition: fill 0.3s ease;
}
.icon:hover{
    color: lightslategray;
}


.backgroundForLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: lightslategray;
    transition: background-color 0.3s ease;
}

.backgroundForLogo:hover {
    background-color: white;
}
.headeBox{
    display: flex;
    background-color: lightslategray;
}