$font-family: "Roboto", sans-serif;
$font-weight:400;
$font-weight-bold:700;
$font-size: 12px;
$font-size-large: 24px;
$primary-color: #D3D3C6;
$secondary-color: #585C69; 
$third-color: #F9F8D5;
$breakpoint-mobile-small: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1024px;
$breakpoint-desktop: 1025px;
$hero-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));